{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block content %}

<section class="w-full h-64 relative sm:h-500">
  <div class="h-full w-full absolute inset-y-0">
    {% if cover %}
    <img class="w-full h-full object-cover" src="{{cover}}" alt="background image" />
    {% else %}
    <img class="w-full h-full object-cover" src="{% static 'images/cover.jpg' %}" alt="background image" />
    {% endif %}
    <div class="absolute top-0 mt-6 ml-6 text-white">
      <h2 class="text-3xl text-white uppercase font-bold">
        {{model.first_name}} {{model.last_name}}
      </h2>
      <span class="block h-px w-10 -mt-1 bg-red-500"></span>
      <h3 class="mt-2 text-lg text-yellow-400 capitalize">{{model.city}}</h3>
      <h3 class="text-lg uppercase">{{model.country}}</h3>
    </div>
  </div>
</section>

<section class="px-4 md:flex">
  <div class="md:flex-1">
    <div class="py-6">
      <h1 class="text-xl uppercase">{% translate "Presentation" %}</h1>
      <span class="block h-px w-8 mt-1 bg-red-500"></span>
    </div>
    <div class="text-gray-900 md:w-10/12">
      <p>
        {{model.bio}}
      </p>
    </div>
  </div>
  <div class="max-w-md pt-8 border mx-auto mt-16 shadow-lg rounded-lg md:flex-1">
    <div class="-mt-20 flex justify-center items-center">
      <div class="w-24 h-24 border-4 border-gray-400 rounded-full overflow-hidden">
        {% if profile %}
        <img class="w-full h-full object-fit" src="{{ profile }}" alt="gender {{model.sexe}}" />
        {% else %}
        <img class="w-full h-full object-fit" src="{% static 'images/noc-models-mission.jpg' %}"
          alt="gender {{model.sexe}}" />
        {% endif %}
      </div>
    </div>
    <div class="mt-4 text-center">
      <h3 class="text-2xl text-gray-500 font-bold tracking-wide uppercase">
        {{model.first_name}} {{model.last_name}}
      </h3>
    </div>
    <ul class="text-lg px-6 mt-4">
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Height" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.height}}</span> cm
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Waist" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.waist}}</span> cm</li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Bust" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.bust}}</span> cm
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Shoulders" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.shoulders}}</span> cm
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Hips" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.hips}}</span> cm</li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Weight" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.weight}}</span> cm
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Shoe size" %}</span>: 
        <span class="ml-2 font-medium text-xl">{{measures.shoe_size}}</span> cm
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Hair" %}</span>: 
        <span class="ml-2 text-xl">{{measures.hair}}</span>
      </li>
      <li>
        <span class="text-base text-gray-800 font-semibold">{% translate "Eyes" %}</span>: 
        <span class="ml-2 text-xl">{{measures.eyes}}</span>
      </li>
    </ul>
    <div class="overflow-hidden rounded-lg">
      <button id="model-contact"
        class="mt-4 py-3 w-full bg-black text-white text-xl uppercase tracking-wider">{% translate "Contact" %}</button>
    </div>
  </div>
</section>

<div id="model-backdrop" class="hidden bg-black fixed z-30 inset-0 opacity-75"></div>
<div id="model-modal"
  class="w-95 mx-auto mt-20 top-0 inset-x-0 p-4 fixed z-30 bg-white rounded-lg transform scale-0 opacity-0 transition duration-500 ease-in-out sm:w-auto sm:max-w-md">
  <div class="text-center py-4 border-b-2 border-gray-200">
    <p class="font-semibold sm:text-2xl">{% trans "Where can we find you" %}</p>
  </div>
  <div id="modal-flash"
    class="text-center py-4 text-white font-bold rounded mb-2 text-sm bg-indigo-300 transform absolute opacity-0 -translate-y-full transition duration-300 ease-in-out">
    <p id="modal-message"></p>
  </div>
  <form id='model-form' class="mt-4" method="post">
    {% include "partials/_alerts.html" %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.model_id }}
      {% include "partials/_form_errors.html" with key=form.model_id %}
    </div>
    <div>
      <label class="mb-2 ml-1 block text-gray-800 font-semibold" for="{{ form.model_full_name.id_for_label }}">
        {{form.model_full_name.label_tag}}
      </label>
      {{ form.model_full_name }}
      {% include "partials/_form_errors.html" with key=form.model_full_name %}
      <div class="modal-errors hidden" data-input-name="model_full_name">
      </div>
    </div>
      <div class="mt-2">
      <label class="mb-2 ml-1 block text-gray-800 font-semibold" for="{{ form.full_name.id_for_label }}">
        {{form.full_name.label_tag}}
      </label>
      {{ form.full_name }}
      {% include "partials/_form_errors.html" with key=form.full_name %}
      <div class="modal-errors hidden" data-input-name="full_name">
      </div>
    </div>
    <div class="mt-2">
      <label class="mb-2 ml-1 block text-gray-800 font-semibold" for="{{ form.email.id_for_label }}">
        {{ form.email.label_tag }}
      </label>
      {{ form.email }}
      {% include "partials/_form_errors.html" with key=form.email %}
      <div class="modal-errors hidden" data-input-name="email">
      </div>
    </div>
    <div class="mt-2">
      <label class="mb-2 ml-1 block text-gray-800 font-semibold" for="{{ form.phone.id_for_label }}">
        {{form.phone.label_tag}}
      </label>
      {{ form.phone }}
      {% include "partials/_form_errors.html" with key=form.phone %}
      <div class="modal-errors hidden" data-input-name="phone">
      </div>
    </div>
    <div class="p-4 flex justify-evenly items-center">
      <button id="cancel-contact" type="button" class="px-6 py-3 hover:bg-gray-400 rounded-md">Cancel</button>
      <button type="submit" id="send-contact" class="px-4 py-3 text-sm rounded-md bg-indigo-600 text-white
          hover:bg-indigo-700 transition-transform duration-200 ease-in-out transform
          hover:scale-110 sm:text-base">
        Contact Us
      </button>
    </div>
  </form>
</div>

<section class="px-4 mb-16 md:w-5/6">
    <div class="py-6">
      <h1 class="text-xl uppercase">{% trans "Gallery" %}</h1>
      <span class="block h-px w-8 mt-1 bg-red-500"></span>
    </div>
    <div id="gallery-container" class="flex flex-wrap">
      {% for photo in photos %}
        <div data-id="{{forloop.counter0}}" class="w-full h-56 mr-4 mb-4 flex-shrink-0 rounded-lg overflow-hidden shadow cursor-pointer sm:w-64 sm:h-64">
          <img class="w-full h-full object-cover" src="{{photo.image.url}}" alt="model photo {{forloop.counter}}" />
        </div>
      {% empty %}
        <p>No Photos</p>
      {% endfor %}
    </div>
</section>

<div id="lightbox-backdrop" class="hidden bg-black fixed z-30 inset-0 opacity-75"></div>
<div id="lightbox" class="my-12 mx-auto w-full h-500 transform transition duration-500 ease-in-out scale-0 opacity-0 fixed z-40 inset-0 md:w-10/12 sm:h-auto">
    <button id="lightbox-close" class="w-8 h-8 -mt-2 absolute right-0 top-0 transform -translate-y-full">
      <svg class="w-full h-full text-white fill-current" viewBox="0 0 20 20">
          <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
      </svg>
    </button>

    <div class="h-full relative">
      <button id="lightbox-prev" class="w-10 h-10 mt-1 absolute inset-y-1/2">
        <svg class="w-full h-full text-white fill-current" viewBox="0 0 20 20">
          <path d="M11.739,13.962c-0.087,0.086-0.199,0.131-0.312,0.131c-0.112,0-0.226-0.045-0.312-0.131l-3.738-3.736c-0.173-0.173-0.173-0.454,0-0.626l3.559-3.562c0.173-0.175,0.454-0.173,0.626,0c0.173,0.172,0.173,0.451,0,0.624l-3.248,3.25l3.425,3.426C11.911,13.511,11.911,13.789,11.739,13.962 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.148,3.374,7.521,7.521,7.521C14.147,17.521,17.521,14.148,17.521,10"></path>
        </svg>
      </button>

      <img id="lightbox-img" class="w-full h-full object-cover rounded-md" alt="model">

      <button id="lightbox-next" class="w-10 h-10 mt-1 absolute inset-y-1/2 right-0">
        <svg class="w-full h-full text-white fill-current" viewBox="0 0 20 20">
          <path d="M12.522,10.4l-3.559,3.562c-0.172,0.173-0.451,0.176-0.625,0c-0.173-0.173-0.173-0.451,0-0.624l3.248-3.25L8.161,6.662c-0.173-0.173-0.173-0.452,0-0.624c0.172-0.175,0.451-0.175,0.624,0l3.738,3.736C12.695,9.947,12.695,10.228,12.522,10.4 M18.406,10c0,4.644-3.764,8.406-8.406,8.406c-4.644,0-8.406-3.763-8.406-8.406S5.356,1.594,10,1.594C14.643,1.594,18.406,5.356,18.406,10M17.521,10c0-4.148-3.374-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.147,17.521,17.521,14.147,17.521,10"></path>
        </svg>
      </button>
    </div>
</div>

<script src="{% static 'js/model.bundle.js' %}"></script>

{% endblock %}