@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidenav */
#sidedrawer {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

#sidedrawer.open {
  transform: translateX(0);
}

.fieldWrapper {
  margin-bottom: 0.35rem;
}

.fieldWrapper input,
.fieldWrapper select {
  width: 100%;
  border: 2px solid #ccc;
  padding: 0.25rem 0.35rem;
  color: #7b7a7a;
}
