{% extends 'base.html' %} {% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %} {% include 'partials/_header.html' with title="Forgot your password?" %}

<section
  class="mt-12 mb-16 mx-8 p-4 shadow-lg rounded-lg sm:w-auto sm:max-w-sm sm:mx-auto"
>
  <img
    class="h-24 mx-auto my-4"
    src="{% static 'icons/logo-noc.png' %}"
    alt="logo"
  />
  
  <p class="text-gray-700">Enter your email address below, and we'll email instructions for setting a new one.</p>

  {% include "partials/_alerts.html" %}

  <form class="mt-4" method="post">
    {% csrf_token %} {{ form.non_field_errors }}
    <div>
      <label
        class="mb-2 ml-1 block text-gray-800 font-medium"
        for="{{ form.email.id_for_label }}"
        >{{form.email.label}}:</label
      >
      {{ form.email }} {% include "partials/_form_errors.html" with key=form.email %}
    </div>
    <div class="text-right mt-6">
      <button
        type="submit"
        class="w-full px-6 py-2 text-center bg-black hover:bg-gray-700 text-white uppercase tracking-wide rounded sm:w-auto"
      >
        Reset
      </button>
    </div>
  </form>
  <div class="mt-4 py-2 text-center border-t border-gray-400 text-md">
    <p>
     Go back to
      <a class="font-bold" href="{% url 'signin' %}">Sign in</a>
    </p>
  </div>
</section>

{% endblock %}