{% extends 'base.html' %} {% block content %}

<!-- Header -->
{% include "partials/_header.html" with title="Sign in" %}

<section class="mx-auto sm:w-10/12">
  <div class="text-gray-800 text-sm w-11/12 mx-auto sm:text-base">
    <div class="text-center mt-10">
      <p class="mb-6">
        L'application pour un profil dans la plateforme digitale NOC MODELS
      </p>
      <p class="font-semibold mb-1">
        Vous allez maintenant vous inscrire au www.nocmodels.com comme un Model
        avec ou sans expériences.
      </p class="font-semibold mb-1">
      <p class="font-semibold mb-1">
        Cette plateforme vous donnera la chance d’avoir un profil professionnel.
      </p>
      <p class="font-semibold mb-1">
        Avoir un profil approuvé dans www.nocmodels.com, signifie qu’il deviendra
        publiquement en ligne et vu par des supports de projets de potentiel.
      </p>
      <p class="font-semibold">
        Ayant un profil approuvé dans www.nocmodels.com, ne signifie pas que vous
        êtes un NOC MODEL !
      </p>
    </div>
  </div>

  <form action="{% url 'register' %}" method="post" class="mt-6">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="hidden">
      <h3 class="uppercase text-2xl font-normal mt-12 tracking-wide ml-2">Contact</h3>
      {% include "partials/_alerts.html" %}
      <div class="px-2 sm:flex">
        <div class="sm:flex-1">
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.first_name.id_for_label }}">Prénom:</label>
            {{ form.first_name }}
            {% include "partials/_form_errors.html" with key=form.first_name %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.last_name.id_for_label }}">Nom</label>
            {{ form.last_name }}
            {% include "partials/_form_errors.html" with key=form.last_name %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {% include "partials/_form_errors.html" with key=form.email %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
            {% include "partials/_form_errors.html" with key=form.password %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.birth_date.id_for_label }}">Date De Niassance</label>
            {{ form.birth_date }}
            {% include "partials/_form_errors.html" with key=form.birth_date %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.city.id_for_label }}">Ville</label>
            {{ form.city }}
            {% include "partials/_form_errors.html" with key=form.city %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.country.id_for_label }}">Pays</label>
            {{ form.country }}
            {% include "partials/_form_errors.html" with key=form.country %}
          </div>
        </div>
        <div class="sm:flex-1 sm:ml-4">
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.facebook.id_for_label }}">Facebook:</label>
            {{ form.facebook }}
            {% include "partials/_form_errors.html" with key=form.facebook %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.instagram.id_for_label }}">Instagram</label>
            {{ form.instagram }}
            {% include "partials/_form_errors.html" with key=form.instagram %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.phone.id_for_label }}">Phone:</label>
            {{ form.phone }}
            {% include "partials/_form_errors.html" with key=form.phone %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.sexe.id_for_label }}">Sexe</label>
            {{ form.sexe }}
            {% include "partials/_form_errors.html" with key=form.sexe %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.cin.id_for_label }}">CNI or Numéro de Passport</label>
            {{ form.cin }}
            {% include "partials/_form_errors.html" with key=form.cin %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.addresse.id_for_label }}">Adresse</label>
            {{ form.addresse }}
            {% include "partials/_form_errors.html" with key=form.addresse %}
          </div>
          <div class="fieldWrapper">
            <label class="block text-gray-800 font-semibold" for="{{ form.zipcode.id_for_label }}">Zipcode</label>
            {{ form.zipcode }}
            {% include "partials/_form_errors.html" with key=form.zipcode %}
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h3 class="mt-12 uppercase text-2xl font-normal tracking-wide">Racontez nous</h3>
        <div class="mt-6 md:flex md:flex-wrap">
          <div class="fieldWrapper md:w-1/2">
            <label class="block text-gray-800 font-semibold" for="{{ form.q1.id_for_label }}">Qui étés vous?:</label>
            {{ form.q1 }}
            {% include "partials/_form_errors.html" with key=form.q1 %}
          </div>
          <div class="fieldWrapper md:w-1/2">
            <label class="block text-gray-800 font-semibold" for="{{ form.q2.id_for_label }}">Que connaissez-vous à propos de la MODE?:</label>
            {{ form.q2 }}
            {% include "partials/_form_errors.html" with key=form.q2 %}
          </div>
          <div class="fieldWrapper md:w-1/2">
            <label class="block text-gray-800 font-semibold" for="{{ form.q3.id_for_label }}">Pourquoi devons-nous approuver votre inscription?:</label>
            {{ form.q3 }}
            {% include "partials/_form_errors.html" with key=form.q3 %}
          </div>
        </div>
        <p class="mt-2">
          Un NOC MODEL doit être considéré comme idole dans le monde de la MODE.
        </p>
        <p>
          Vous devriez avoir le potentiel de renforcer votre talent, la
          détermination pour travailler dur pour vos rêves et un bagage lourd de
          valeurs et d’éthiques pour allumer votre parcours.
        </p>
        <p>Un NOC MODEL est seulement officiel si :</p>
        <ul>
          <li>Elle/il a suivi une formation de 3 mois fournie par l'agence</li>
          <li>Elle/il obtient un certificat signé par No One’sCompany.</li>
          <li>Elle/Il est à la UNE sur la page NOCMODELS dans www.nocmodels.com`</li>
        </ul>
        <div class="fieldWrapper">
          <label class="block text-gray-800 font-semibold" for="{{ form.q4.id_for_label }}">Voulez-vous devenir un(e) NOC MODEL?:</label>
          {{ form.q4 }}
          {% include "partials/_form_errors.html" with key=form.q4 %}
        </div>
    </div>
    <div class="text-right mt-4 mx-2">
      <button type="submit" class="w-full text-center bg-black hover:bg-gray-700 text-white px-6 py-1 uppercase tracking-wide rounded sm:w-auto">Register</button>
    </div>
  </form>
</section>

{% endblock %}
