{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Model Header -->
{% include "partials/_header.html" with title="Models" %}

{% include "partials/_search_form.html" with form=form %}

<h2 class="text-center text-xl uppercase mt-16">Touts les models</h2>

<section class="card-container mt-10 mx-auto w-11/12 flex flex-wrap flex-col items-center justify-center sm:flex-row">
  {% for item in data %}
    <div class="w-64 mb-4 mr-4 overflow-hidden rounded-lg shadow relative">
      <div class="h-56">
          <img
            class="w-full h-full object-fit"
            src="{{item.image.url}}"
            alt="{{item.model.first_name}}"
          />
        <div class="-mt-4 w-full h-10 transform -skew-y-6 bg-white">
        </div>
        <div class="-mt-16 mr-4 py-2 px-4 truncate w-48 uppercase tracking-wider bg-white rounded text-center shadow absolute right-0">
          {{item.model.first_name}} {{item.model.last_name}}
        </div>
      </div>
      <div class="mt-6 px-4 pb-4 text-sm flex justify-between items-center relative">
        <div class="tracking-wide">
          <p class="uppercase tracking-wider">{{item.model.country}}</p>
          <p class="capitalize text-gray-800 font-semibold">{{item.model.city}}</p>
        </div>
        <a href="{% url 'model' item.model.id %}" class="px-4 py-3 text-xs rounded-lg bg-black hover:bg-gray-700 text-white uppercase tracking-wide">
          Visit Profile
        </a>
      </div>
    </div>
  {% empty %}
    <p>No Models available</p>
  {% endfor %}
</section>

<script src="{% static 'js/search.bundle.js' %}"></script>

{% endblock %}
