{% extends 'base.html' %} {% load static %}

<!-- A-Propos -->
{% block content %}

<!-- Header -->
{% include 'partials/_header.html' with title="vision et notre mission" %}
<div class="px-4 md:flex md:mx-8">
  <div class="mt-6 md:w-1/2 lg:w-5/12">
    <img
      class="w-full h-auto object-cover md:w-auto"
      src="{% static 'images/noc-models-mission.jpg' %}"
      alt="workspace"
    />
  </div>

  <div class="mt-6 md:w-1/2 md:ml-4 lg:w-8/12 lg:ml-6">
    <p class="my-2 font-semibold uppercase">
      Le but de notre plateforme digitale est de :
    </p>
    <ul class="ml-2 pl-4">
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        Donner l’opportunité à l’industrie de la mode de chaque pays d’avoir des
        profils diversifiés
      </li>
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        De donner la chance aux MODELS d’avoir un réseau qui ne traite que leurs
        centres d’intérêt
      </li>
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        De faciliter la découverte de nouveaux profils aux titulaires de projets
        du monde entier.
      </li>
    </ul>
    <p class="my-2 font-semibold uppercase">Le but de N.O.C MODELS est :</p>
    <ul class="ml-2 pl-4">
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        D’offrir à ses profils l’encadrement et l’orientation nécessaires pour
        qu’ils puissent percer leurs noms sainement et intelligemment dans le
        monde de la mode.
      </li>
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        De les solliciter d’avoir des styles distingués.
      </li>
      <li class="disc-list-item sm:text-base">
        <span class="list-disc"></span>
        De les gérer professionnellement.
      </li>
    </ul>
  </div>
</div>

{% endblock %}
