{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Where models and clients gather">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">    <title>No One's Company | {% block title %} {% endblock %}</title>
  </head>
  <body class="h-full flex flex-col">
    <div id="checkConnection" class="flex justify-between items-center px-4 w-2/3 h-16 rounded-b fixed top-0 z-50 text-white bg-gray-700 transition duration-300 ease-out transform -translate-x-1/2 -translate-y-full sm:w-64" style="left: 50%; right: 50%;">
      <div class="flex justify-between items-center">
        <div id="checkConnection-indicator" class="inline-block mr-2 w-4 h-4 rounded-full"></div>
        <span id="checkConnection-text"></sp>
      </div>

      <div>
        <button id="checkConnection-reconnect" class="bg-gray-200 text-black px-3 py-1 rounded">Reconnect</button>
      </div>
    </div>

    <div class="flex-auto">
      <!-- Nav Bar -->
      {% include 'partials/_navbar.html' %}

      <!-- Main Content -->
      <div class="mt-16">
        {% block content %} {% endblock %}
      </div>
    </div>

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/index.bundle.js' %}"></script>
  </body>
</html>
