<footer class="flex justify-between mx-10 mb-4 mt-16">
  <p>
    Powered by <span class="uppercase font-semibold">NO ONE'S COMPANY</span>
  </p>
  <nav class="capitilize">
    <ul class="flex justify-between items-center">
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="/blog" class="footer__nav-link">Blog</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="faq" class="footer__nav-link">FAQ</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="légale" class="footer__nav-link">Mention Légale</a>
      </li>
    </ul>
  </nav>
</footer>
