{% load static %}

<header class="px-10 pt-4 flex justify-between items-center">
  <div class="h-20 w-auto">
    <a href="{% url 'index' %}">
      <img
        class="h-full"
        src="{% static 'icons/logo-noc.png' %}"
        alt="company's logo"
      />
    </a>
  </div>
  <nav>
    <ul class="flex uppercase">
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="/a-propos">A propos</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="/vision-et-mission">Vision &amp; mission</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="{% url 'models' %}">Nos models</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="/contact">Contact</a>
      </li>
      <li class="mr-4 pr-2 border-r border-gray-600">
        <a href="{% url 'register' %}">Devenir notre model</a>
      </li>
      <li class="mr-4">
        <a href="/signin">Sign In</a>
      </li>
    </ul>
  </nav>
</header>
