<h1 class="mt-8 text-center text-lg uppercase sm:text-2xl">Trouver un model</h1>
<form class="mt-6">
  {{ form.non_field_errors }}
  <div class="px-4 sm:px-2 sm:flex sm:flex-wrap sm:mx-auto sm:max-w-4xl md:px-0">
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.pays.id_for_label }}">Pays:</label>
      {{ form.pays }}
      {% include "partials/_form_errors.html" with key=form.pays %}
    </div>
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.ville.id_for_label }}">Ville:</label>
      {{ form.ville }}
      {% include "partials/_form_errors.html" with key=form.ville %}
    </div>
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.sexe.id_for_label }}">Sexe:</label>
      {{ form.sexe }}
      {% include "partials/_form_errors.html" with key=form.sexe %}
    </div>
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.cheveux.id_for_label }}">Cheveux:</label>
      {{ form.cheveux }}
      {% include "partials/_form_errors.html" with key=form.cheveux %}
    </div>
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.yeux.id_for_label }}">Yeux:</label>
      {{ form.yeux }}
      {% include "partials/_form_errors.html" with key=form.yeux %}
    </div>
    <div class="mb-4 sm:w-1/3 sm:px-2">
      <label class="block mb-2" for="{{ form.taille.id_for_label }}">Taille:</label>
      {{ form.taille }}
      {% include "partials/_form_errors.html" with key=form.taille %}
    </div>
  </div>
  <div class="mt-6 px-4 text-center sm:mt-4">
    <button class="w-full px-10 py-2 rounded-lg bg-black hover:bg-gray-700 text-white uppercase tracking-wide sm:w-auto"
      type="submit">Search</button>
  </div>
</form>