<footer class="footer">
  <!-- <div class="footer__arrow" onClick={onClickScrollBack} />
  <p>Powered by NO ONE'S COMPANY</p>
  <nav class="footer__nav">
    <ul class="footer__nav-items">
      <li class="footer__nav-item">
        <a href="/blog" class="footer__nav-link">Blog</a>
      </li>
      <li class="footer__nav-item">
        <a href="faq" class="footer__nav-link">FAQ</a>
      </li>
      <li class="footer__nav-item">
        <a href="légale" class="footer__nav-link">Mention Légale</a>
      </li>
    </ul>
  </nav> -->
</footer>