@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap);

/*

0 - 600px     :  (phone)  Phone
600 - 900px   :  (tp)     Tab Portriat
900 -1200px   :  (tl)     Tablet Landscape
[1200 - 1800] :  base     Normal styles
1800px +      :  (bd)     Big Desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
html {
  font-size: 62.5%;
  height: 100%; }
@media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
@media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  height: 100%; }
#__next {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7; }
.page-headline,
.page-sub-headline {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  position: relative; }
.page-headline::after,
  .page-sub-headline::after {
    display: block;
    content: "";
    width: 4rem;
    height: 2px;
    background-color: red;
    position: absolute; }
.page-headline {
  background-color: #000;
  padding: 2rem 0 4rem 4rem;
  color: white; }
.page-headline::after {
    bottom: 4rem; }
@media only screen and (max-width: 56.25em) {
    .page-headline {
      font-size: 1.8rem; }
    .page-headline::after {
      bottom: 3rem; } }
.page-sub-headline {
  color: #111; }
.page-sub-headline::after {
    bottom: -0.5rem; }
@media only screen and (max-width: 56.25em) {
    .page-sub-headline {
      font-size: 1.6rem; } }
.toggle-button {
  margin-left: 1rem;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.toggle-button__line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: rgba(1, 1, 1, 0.8); }
.toggle-button__line::before, .toggle-button__line::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(1, 1, 1, 0.8); }
.toggle-button__line::before {
      bottom: 8px; }
.toggle-button__line::after {
      bottom: -8px; }
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  cursor: pointer; }
@media (min-width: 67em) {
  .toggle-button {
    display: none; } }
.disclist {
  list-style-type: none;
  margin-top: 1rem;
  margin-left: 5rem; }
.disclist:not(:last-of-type) {
    margin-bottom: 3rem; }
.disclist__item {
    position: relative; }
.disclist__item::before {
      display: inline-block;
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border: 1px solid #e43d4d;
      border-radius: 50%;
      top: 11px;
      left: -15px; }
.title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 4rem 0;
  text-align: center; }
.form-invalid {
  color: #e22323;
  margin: 0.2rem 0 0.2rem;
  font-size: 1.2rem; }
.searchmodels {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 8rem; }
.searchmodels__title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 4rem; }
.searchmodels__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
.searchmodels__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
.searchmodels__form-row:last-of-type {
      margin-bottom: 2rem; }
.searchmodels__form-items:not(:last-of-type) {
    margin-right: 6rem; }
.searchmodels__form-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: 400;
    text-align: left; }
.searchmodels__form-item {
    text-transform: capitalize;
    background: #fff;
    color: #000;
    width: 25rem;
    height: 3.2rem;
    padding-left: 0.6rem;
    outline: none;
    cursor: pointer;
    border-radius: 5px; }
.searchmodels__form-item:hover, .searchmodels__form-item:focus {
      border-color: black; }
@media only screen and (max-width: 50em) {
    .searchmodels__form-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 80%;
      margin: 0 auto 0rem; }
    .searchmodels__form-items {
      width: 100%; }
      .searchmodels__form-items:not(:last-of-type) {
        margin-right: 0; }
    .searchmodels__form-item {
      display: inline-block;
      width: 100%; } }
.btn-primary {
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 1.3px;
  margin: auto;
  border: 0;
  background-color: #111111;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out; }
.btn-primary:hover, .btn-primary:focus {
    background-color: rgba(17, 17, 17, 0.9);
    font-weight: 700; }
.btn-primary:disabled {
    background: rgba(17, 17, 17, 0.5);
    cursor: not-allowed; }
.btn-block {
  width: 100% !important;
  display: block; }
.mt-2 {
  margin-bottom: 2rem; }
.flash-message {
  width: 90%;
  max-width: 521px;
  margin: 0 auto 2rem;
  background: #ffffff;
  color: #9aab94;
  margin-bottom: 2rem;
  -webkit-box-shadow: 1px 1px 4px rgba(165, 171, 165, 0.8);
          box-shadow: 1px 1px 4px rgba(165, 171, 165, 0.8);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 600ms ease-out, height 900ms ease-out;
  transition: opacity 600ms ease-out, height 900ms ease-out;
  position: relative;
  opacity: 0;
  height: 0; }
.flash-message svg {
    min-width: 10rem;
    margin-right: 1rem; }
.flash-message .svg-success {
    background: #52bc6d; }
.flash-message .svg-failure {
    background: #be4e54; }
.flash-message--failure, .flash-message--success {
    font-size: 2rem;
    width: 85%;
    padding: 1rem; }
.flash-message--success p {
    color: #13ce13; }
.flash-message--failure p {
    color: #cb666a; }
.flash-message__remove {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -2rem;
    top: 50%;
    background: #d8d2d2;
    color: #fff;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
.flash-message strong {
    text-transform: uppercase; }
.flash-message span {
    font-size: 1.4rem;
    display: inline-block;
    max-width: 90%;
    min-width: 150px; }
.action-modal {
  background: rgba(17, 17, 17, 0.6);
  padding: 2rem;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.action-modal__card {
    padding: 2rem;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px rgba(165, 171, 165, 0.8);
            box-shadow: 1px 1px 4px rgba(165, 171, 165, 0.8);
    opacity: 1;
    -webkit-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
    background: #fff;
    max-width: 60rem;
    width: 90%;
    position: relative; }
.action-modal.hide-modal .action-modal__card {
    opacity: 0; }
.action-modal__no-data {
    margin: 2rem 0; }
.action-modal__close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -2rem;
    top: 1rem;
    background: #d8d2d2;
    color: #fff;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
.flash-message--show {
  opacity: 1;
  height: auto; }
.page-transition-enter {
  opacity: 0; }
.page-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms; }
.page-transition-exit {
  opacity: 1; }
.page-transition-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms; }
.lds-dual-ring {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 64px;
  height: 64px; }
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3636fa;
  border-color: #3636fa transparent #3636fa transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite; }
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 15px; }
.lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite; }
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite; }
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite; }
@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 4rem;
  min-height: 8rem;
  height: 8rem;
  overflow: hidden; }
.header__logo-container {
    width: 10%;
    height: 80%; }
.header__logo {
    width: 100%;
    height: 100%; }
.header__list-items {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.header__list-item {
    text-transform: uppercase;
    position: relative;
    font-weight: 600; }
.header__list-item:not(:last-of-type) {
      margin-right: 4rem; }
.header__link {
    text-decoration: none;
    color: #3d3d3d; }
.header__list-item:not(:last-of-type)::after {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 2rem;
    background-color: grey;
    right: -2rem;
    top: 0.2rem; }
.header__list-items-auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem; }
.header__list-item-auth:not(:last-of-type) {
    margin-right: 2rem; }
.header__link-auth {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    vertical-align: text-top; }
@media (max-width: 67em) {
    .header__nav {
      display: none; } }
.sidedrawer {
  height: 100%;
  width: 70%;
  max-width: 40rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
.sidedrawer__logo-container {
    margin: 1rem auto 1rem;
    width: 25%;
    height: 5rem; }
.sidedrawer__logo {
    width: 100%;
    height: 100%;
    cursor: pointer; }
.sidedrawer__list-items {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0rem 4rem 2rem; }
.sidedrawer__list-item {
    margin-bottom: 1rem;
    position: relative; }
.sidedrawer__list-item:hover::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      height: 100%;
      background-color: #fa923f; }
.sidedrawer__link {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer; }
.sidedrawer__link:hover, .sidedrawer__link:active {
      color: #fa923f; }
.sidedrawer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0); }
.homeslider {
  width: 100%;
  height: 50rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden; }
.homeslider__title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1; }
.homeslider__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: opacity(0.9);
            filter: opacity(0.9); }
.homeslider__track-container {
    height: 100%;
    position: relative; }
.homeslider__track {
    list-style-type: none;
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in; }
.homeslider__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
.homeslider__button {
    position: absolute;
    z-index: 100;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: transparent;
    width: 4rem;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.6);
            box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.6); }
.homeslider__button--left {
      left: 8px; }
.homeslider__button--right {
      right: 8px; }
.homeslider__button:hover .homeslider__arrow {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
.homeslider__arrow {
    fill: #000;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }
.homeslider__arrow--hidden {
      display: none; }
@media only screen and (max-width: 37.5em) {
    .homeslider__title {
      font-size: 6rem; } }
.nosmodels {
  text-align: center;
  margin-bottom: 8rem; }
.nosmodels__title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 4rem; }
.nosmodels__slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 80%;
    margin: 5rem auto 4rem;
    -webkit-overflow-scrolling: touch; }
.nosmodels__slides::-webkit-scrollbar {
      display: none; }
.nosmodels__slide-image {
    cursor: pointer;
    display: inline-block;
    background-size: cover;
    background-position: center;
    width: 25rem;
    min-width: 25rem;
    height: 25rem;
    margin: 0 2rem;
    position: relative;
    -webkit-animation: slideshow 10s linear infinite;
            animation: slideshow 10s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
.nosmodels__points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3.8rem;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.nosmodels__point {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: black; }
@media only screen and (max-width: 75em) {
    .nosmodels__slides {
      width: 90%; } }
@-webkit-keyframes slideshow {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
@keyframes slideshow {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
.sinscrire {
  background-image: url("/static/images/cta-bg-1024.jpg");
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6rem;
  position: relative; }
.sinscrire__content {
    margin-left: 50%; }
.sinscrire__headline {
    color: #fff;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 8rem;
    line-height: 1.1; }
.sinscrire__headline span {
      font-weight: 700; }
.sinscrire__cta {
    margin-top: 2rem;
    padding: 0.5rem 4.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 1.8rem; }
@media only screen and (max-width: 63em) {
    .sinscrire {
      background-size: unset;
      height: 30rem; }
    .sinscrire__headline {
      padding-top: 6rem;
      font-weight: 400;
      font-size: 4rem; } }
@media only screen and (max-width: 37.5em) {
    .sinscrire__content {
      margin: 0;
      padding-left: 3rem; }
    .sinscrire__headline {
      font-weight: 700; } }
.apropo {
  padding: 0 4rem;
  max-width: 125rem;
  margin: 0 auto 4rem; }
.apropo__content {
    padding: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
.apropo__image {
    display: inline-block;
    margin-right: 6rem; }
.apropo__text-container {
    color: #85868c; }
.apropo__text:not(:last-of-type) {
    margin-bottom: 1rem; }
@media only screen and (max-width: 56.25em) {
    .apropo__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .apropo__image {
      margin-right: 0;
      margin-bottom: 3rem; } }
.vision {
  padding: 0 4rem;
  max-width: 125rem;
  margin: 0 auto 6rem; }
.vision__content {
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
.vision__image-container {
    height: 100%;
    margin-right: 6rem; }
.vision__image {
    display: inline-block;
    width: 100%;
    height: 100%; }
.vision__text-container {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80% 1; }
.vision__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600; }
@media only screen and (max-width: 56.25em) {
    .vision {
      padding: 0 2rem; }
    .vision__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .vision__items {
      margin-left: 3rem; }
    .vision__image-container {
      margin-right: 0;
      margin-bottom: 3rem; } }
@media only screen and (max-width: 30em) {
    .vision__image-container {
      width: 100vw; } }
.models {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem; }
.models__container {
    max-width: 108rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
.models__card {
    overflow: hidden;
    width: 25rem;
    height: 29rem;
    text-align: left;
    margin-right: 2rem;
    margin-bottom: 3rem;
    -webkit-box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.1); }
.models__card-image {
    cursor: pointer;
    width: 100%;
    height: 75%;
    display: inline-block; }
.models__card-name {
    padding-left: 1rem;
    text-transform: uppercase;
    line-height: 1.2; }
.models__region {
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.models__card-name {
    margin-bottom: 1rem; }
.models__card-city {
    font-weight: 500;
    font-size: 1.4rem; }
@media only screen and (max-width: 63em) {
    .models {
      padding: 0 2rem; } }
@media only screen and (max-width: 50em) {
    .models {
      padding: 0; }
    .models__container {
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .models__card {
      width: 40%; } }
@media only screen and (max-width: 37.5em) {
    .models__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .models__card {
      height: 30rem;
      width: 60%; } }
.profilebanner {
  color: #fff;
  text-transform: uppercase;
  height: 50rem;
  padding: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.profilebanner__name {
    margin-bottom: 4rem;
    position: relative; }
.profilebanner__name::after {
      display: block;
      content: "";
      width: 4rem;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: -1rem; }
.profilebanner__city {
    text-transform: capitalize;
    color: yellow;
    line-height: 1; }
@media only screen and (max-width: 56.25em) {
    .profilebanner {
      height: 30rem;
      padding: 4rem; } }
.presentation {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
@media only screen and (max-width: 63em) {
    .presentation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
.presentation__bio {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70% 1;
    overflow: hidden; }
.presentation__title {
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative; }
.presentation__title::after {
      display: block;
      content: "";
      width: 4rem;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: -1rem; }
.presentation__text {
    width: 80%;
    margin-bottom: 2rem;
    text-transform: uppercase; }
.presentation__text:last-of-type {
      margin-bottom: 4rem; }
.presentation__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
.presentation__gallery-img {
    width: 20rem;
    height: 20rem; }
.presentation__user-info {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30% 1; }
.presentation__card {
    margin-top: 5rem;
    padding: 3rem;
    position: relative;
    -webkit-box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.2);
            box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center; }
.presentation__card-image {
    text-align: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
.presentation__card-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase; }
.presentation__card-items {
    list-style-type: none;
    text-align: left; }
.presentation__card-item-unit {
    display: inline-block;
    font-style: italic;
    font-size: 1.3rem; }
.presentation__card-icons {
    margin: 1rem auto 3rem;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.presentation__card-icon {
    width: 4rem;
    height: 4rem; }
.presentation__card-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: none;
    background-color: #000;
    padding: 1.5rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
.presentation__card-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.4px; }
@media only screen and (max-width: 63em) {
    .presentation__user-info {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 4rem;
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100% 1; }
    .presentation__text {
      width: 100%; }
    .presentation__card-icons {
      width: 80%; } }
.w {
  width: 100%;
  height: 80vmin;
  margin-bottom: 2rem; }
.ts {
  width: 100%;
  height: 100%;
  position: relative;
  --barH: 10%;
  /*active zone height = 100% - barH*/ }
.t {
  --w: 20%;
  display: block;
  width: var(--w);
  height: var(--barH);
  position: absolute;
  bottom: 0;
  left: var(--l);
  -webkit-transform-origin: top left;
          transform-origin: top left; }
.t img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }
[type="radio"] {
  display: none; }
:checked + label.t {
  left: 0;
  bottom: var(--barH);
  height: calc(100% - var(--barH)); }
:checked + label.t img {
  -o-object-fit: contain;
     object-fit: contain; }
/*
optional
*/
.ts {
  /*thumbnails bar*/
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  pointer-events: none; }
.ts:after {
  /*the plate*/
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
  -webkit-transform: rotateX(90deg) scaleX(1.2);
          transform: rotateX(90deg) scaleX(1.2);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center; }
:not(:checked) + .t {
  /*inactive labels*/
  -webkit-transform: translate3d(0, 0, -5px);
          transform: translate3d(0, 0, -5px);
  pointer-events: auto; }
:not(:checked) + .t:hover {
  -webkit-transform: translate3d(0, -7px, -5px);
          transform: translate3d(0, -7px, -5px);
  -webkit-box-shadow: 0 30px 30px -25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 30px -25px rgba(0, 0, 0, 0.3);
  cursor: pointer; }
:not(:checked) + .t img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  /*create gaps*/ }
:checked + .t {
  /*active label*/
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-animation: anim 2s 1;
          animation: anim 2s 1; }
@-webkit-keyframes anim {
  from {
    -webkit-transform: rotateY(6deg) rotateX(3deg);
            transform: rotateY(6deg) rotateX(3deg); } }
@keyframes anim {
  from {
    -webkit-transform: rotateY(6deg) rotateX(3deg);
            transform: rotateY(6deg) rotateX(3deg); } }
/*
transitions
*/
.t {
  /*active->inactive & hover->rest*/
  -webkit-transition: bottom 0.6s, left 0.6s, width 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 1s;
  transition: bottom 0.6s, left 0.6s, width 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 1s;
  transition: transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s;
  transition: transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s, -webkit-transform 0.5s, -webkit-box-shadow 1s; }
.t:hover,
:checked + .t {
  -webkit-transition: bottom 0.6s, left 0.6s, width 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0s;
  transition: bottom 0.6s, left 0.6s, width 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0s;
  transition: transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s;
  transition: transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s, -webkit-transform 0.5s, -webkit-box-shadow 0s; }
.contact {
  margin-bottom: 6rem; }
.contact__thumbnail-container {
    height: 40rem;
    width: 100%; }
.contact__thumbnail {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
.contact__title {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    margin: 3rem 0 0 2rem; }
.contact__title::after {
      display: block;
      content: "";
      width: 4rem;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: -2rem; }
.contact__content {
    max-width: 125rem;
    margin: 4rem auto 0;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.contact__form-seciton {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45% 1;
    margin-right: 4rem; }
.contact__form {
    padding: 2rem 4rem;
    background: #070707;
    color: #fff;
    border-radius: 5px; }
.contact__form-field {
    margin-bottom: 1rem; }
.contact__form-field:last-of-type {
      text-align: right; }
.contact__form-label {
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem; }
.contact__form-input {
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1rem 1rem; }
.contact__form-textarea {
    height: 15rem; }
.contact__form-submit {
    color: #000;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
    font-weight: 700;
    width: 18rem;
    height: 4.5rem; }
.contact__form-submit:disabled {
      background-color: #dadada;
      cursor: not-allowed; }
.contact__form-submit div {
      width: 2.5rem !important;
      height: 2.5rem !important; }
.contact__form-submit div:after {
      width: 30px;
      height: 22px; }
.contact__info-section {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45% 1; }
.contact__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.6rem; }
.contact__text {
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 3rem; }
.contact__items {
    list-style-type: none;
    margin-bottom: 2rem; }
.contact__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.contact__item:not(:last-of-type) {
      margin-bottom: 1rem; }
.contact__icon {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem; }
.contact__item-text {
    display: inline-block; }
.contact__socials {
    width: 100%; }
.contact__social {
    width: 2rem;
    height: 2rem; }
.contact__social:not(:last-of-type) {
      margin-right: 1rem; }
@media only screen and (max-width: 56.25em) {
    .contact__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contact__form-seciton {
      margin-right: 0;
      margin-bottom: 2rem; } }
.signup {
  padding: 0 9rem;
  max-width: 125rem;
  margin: 6rem auto 8rem; }
.signup__text-intro {
    text-align: center;
    font-weight: bold; }
.signup__title {
    font-weight: 400;
    margin-bottom: 3rem; }
.signup__paragraph {
    font-size: 1.8rem;
    line-height: 1.4; }
.signup__paragraph:not(:last-of-type) {
      margin-bottom: 0.6rem; }
.signup__icons-slide {
    margin: 4rem auto;
    width: 80%;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.signup__icon-slide {
    position: relative; }
.signup__highlight-step {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
.signup__icon-img-container {
    width: 4rem;
    height: 4rem;
    border: 1px #111 solid;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto 1rem; }
.signup__icon-img {
    width: 100%; }
.signup__icon-slide-title {
    margin-top: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem; }
.signup__form-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.6rem;
    margin-bottom: 3rem; }
.signup__form-contact, .signup__form-history, .signup__form-measures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.signup__form-field {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50% 1;
    max-width: 54rem;
    margin-bottom: 1.5rem; }
.signup__form-field small {
      margin-top: 4px;
      font-size: 1.4rem;
      letter-spacing: 0.8px;
      color: #85868c;
      display: block;
      width: 90%; }
.signup__form-label {
    color: #85868c; }
.signup__form-input {
    display: inline-block;
    width: 90%;
    color: #404040;
    padding: 0.6rem;
    height: 4rem;
    outline: none;
    border: 2px solid rgba(143, 143, 143, 0.5);
    letter-spacing: 1.4px; }
.signup__form-input:hover, .signup__form-input:focus {
      border-color: #8f8f8f; }
.signup__form-textarea {
    width: 50rem;
    height: 15rem;
    display: block;
    padding: 0.4rem 0.8rem;
    font-family: inherit;
    letter-spacing: 1.1px;
    line-height: 1.4; }
.signup__question-text {
    margin: 2rem 0 1rem; }
.signup__measures-text {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 4rem; }
.signup__continue-btn {
    border: none;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    padding: 0.9rem 2.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.8rem;
    margin-right: 1rem; }
.signup__continue-btn:hover, .signup__continue-btn:focus {
      background: #222222; }
@media only screen and (max-width: 50em) {
    .signup {
      padding: 0 4rem; } }
@media only screen and (max-width: 41em) {
    .signup__paragraph {
      font-size: 1.7rem; }
    .signup__form-contact, .signup__form-history, .signup__form-measures {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 2rem; }
    .signup__form-input {
      width: 100%; } }
@media only screen and (max-width: 30em) {
    .signup {
      padding: 0 2rem; }
    .signup__title {
      font-size: 1.6rem; }
    .signup__paragraph {
      font-size: 1.6rem; }
    .signup__icons-slide {
      width: 85%; }
    .signup__icon-slide-title {
      font-size: 1.3rem; }
    .signup__form-textarea {
      width: 100%;
      font-size: 1.3rem; } }
.signin {
  width: 38rem;
  margin: auto;
  margin: 4rem auto 10rem;
  padding: 2rem;
  -webkit-box-shadow: 3px 1px 10px rgba(17, 17, 17, 0.2);
          box-shadow: 3px 1px 10px rgba(17, 17, 17, 0.2);
  border-radius: 5px; }
.signin__logo-container {
    width: 40%;
    display: block;
    margin: 0 auto 2rem; }
.signin__logo-container img {
      width: 100%; }
.signin__forgot-password {
    color: #111;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer; }
.signin__forgot-text {
    font-size: 12px;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 2rem; }
.signin__back-to-signin {
    margin-top: 2rem;
    border-top: 1px solid #cccccc;
    text-align: center;
    font-size: 15px;
    padding-top: 1rem;
    font-weight: 500;
    text-transform: capitalize; }
.signin__back-to-signin span {
      cursor: pointer; }
.signin__form-field {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50% 1;
    max-width: 54rem;
    margin-bottom: 1.5rem;
    position: relative; }
.signin__form-field small {
      margin-top: 4px;
      font-size: 1.4rem;
      letter-spacing: 0.8px;
      color: #85868c;
      display: block;
      width: 90%; }
.signin__form-label {
    color: #85868c; }
.signin__form-input {
    display: inline-block;
    width: 100%;
    color: #404040;
    padding: 0.6rem 1rem;
    font-size: 14px;
    height: 4rem;
    outline: none;
    border: 2px solid rgba(143, 143, 143, 0.4);
    border-radius: 5px;
    letter-spacing: 1.4px; }
.signin__back-to-signin, .signin__footer-msg {
    margin-top: 2rem;
    border-top: 1px solid #cccccc;
    text-align: center;
    font-size: 15px;
    padding-top: 1rem;
    font-weight: 500; }
.signin__back-to-signin {
    text-transform: capitalize; }
.signin__back-to-signin span {
      cursor: pointer; }
.signin__footer-msg a {
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #111; }
.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 6rem;
  overflow: hidden; }
.account__username {
    position: absolute;
    text-transform: uppercase;
    right: 2.5rem;
    top: 1rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.account__user-icon {
    width: 25px; }
.account__sidedrawer {
    position: absolute;
    background: #111;
    margin-top: 1rem;
    color: #f1f1f1;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 100;
    cursor: pointer;
    display: none; }
.account__sidedrawer span {
      position: absolute;
      bottom: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      font-size: 2rem; }
.account__nav {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20% 1;
    max-width: 20rem;
    margin-right: 3rem;
    height: 100vh;
    background-color: #ececec;
    -webkit-transition: width 600ms ease-in, -webkit-transform 800ms ease-out 100ms;
    transition: width 600ms ease-in, -webkit-transform 800ms ease-out 100ms;
    transition: transform 800ms ease-out 100ms, width 600ms ease-in;
    transition: transform 800ms ease-out 100ms, width 600ms ease-in, -webkit-transform 800ms ease-out 100ms; }
.account__profile-form {
    margin-bottom: 2rem; }
.account__form-field {
    width: 100%;
    height: 16rem;
    text-align: center;
    padding: 2rem; }
.account__profile-label {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2); }
.account__profile-label-add-p {
    padding: 2rem; }
.account__profile-img {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover; }
.account__profile-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
.account__profile-text {
    font-weight: 400;
    font-size: 1.2rem;
    color: #6d6d6d; }
.account__nav-items {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
.account__nav-item {
    text-transform: uppercase;
    position: relative;
    padding: 1rem 2rem;
    cursor: pointer; }
.account__nav-item:hover::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: #111; }
.account__nav-item:hover, .account__nav-item:active {
    background-color: #fff;
    font-weight: 500; }
.account__main-push {
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem); }
.account__nav-push {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    width: 20rem !important; }
.account__main {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80% 1;
    margin-top: 5.5rem;
    -webkit-transition: -webkit-transform 600ms ease-out 400ms;
    transition: -webkit-transform 600ms ease-out 400ms;
    transition: transform 600ms ease-out 400ms;
    transition: transform 600ms ease-out 400ms, -webkit-transform 600ms ease-out 400ms; }
.account__row-gen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.account__col-gen {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40% 1; }
.account__col-gen:first-of-type {
      margin-bottom: 2rem; }
.account__field-gen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
    position: relative; }
.account__field-gen:not(:last-of-type) {
      margin-bottom: 2rem; }
.account__label-gen {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: left; }
.account__input-gen, .account__textarea-gen {
    display: inline-block;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    padding: 1.5rem 0.8rem;
    font-family: inherit;
    letter-spacing: 1.4px;
    width: 28rem;
    border-radius: 5px; }
.account__textarea-gen {
    height: 10rem;
    min-height: 10rem;
    max-height: 20rem;
    max-width: 28rem;
    min-width: 28rem; }
.account__feedback {
    position: absolute;
    left: 0rem;
    top: 1rem;
    background: #fff;
    padding: 0 1rem 1rem 0;
    max-width: 25rem; }
.account__feedback div {
      display: block; }
.account__icon-gen {
    background-color: #c9e6d2;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px; }
.account__submit-gen {
    margin-top: 1rem;
    margin-left: calc(100% - 14.2rem); }
.account__submit-gen:hover, .account__submit-gen:focus {
    background-color: rgba(17, 17, 17, 0.9); }
.account__photos {
    margin-right: 4rem; }
.account__photo-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative; }
.account__photo-title::after {
      display: block;
      content: "";
      width: 4rem;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: -1rem; }
.account__cover-form {
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem; }
.account__label-cover {
    position: relative;
    width: 100%;
    height: 100%; }
.account__edit-cover {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: #c9e6d2;
    padding: 5px;
    border-top-left-radius: 5px;
    cursor: pointer; }
.account__cover-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
.account__gallery-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem; }
.account__gallery-field {
    width: 20rem;
    height: 15rem;
    margin-bottom: 2rem; }
.account__gallery-img {
    width: 100%;
    height: 100%; }
.account__gallery-label {
    position: relative; }
@media only screen and (max-width: 53.625em) {
    .account__row-gen {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .account__col-gen {
      margin: 2rem;
      padding: 0; }
    .account__field-gen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .account__input-gen {
      width: 28rem; } }
@media only screen and (max-width: 41em) {
    .account__icon-gen {
      width: 3rem;
      height: 3rem; } }
@media only screen and (max-width: 31.25em) {
    .account__sidedrawer {
      display: inline-block; }
    .account__nav {
      -webkit-transform: translateX(-20rem);
              transform: translateX(-20rem);
      width: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0 1;
      margin-right: 0; }
    .account__col-gen {
      margin: 1rem; }
    .account__label-gen {
      font-size: 1.2rem; }
    .account__input-gen {
      width: 22rem;
      font-size: 1.1rem; }
    .account__textarea-gen {
      min-width: 22rem;
      width: 22rem;
      font-size: 1.1rem; }
    .account__submit-gen {
      width: 80%;
      margin: 3rem auto 2rem;
      display: block; }
    .account__gallery-field {
      width: 19rem;
      height: 14rem; }
    .account__photos {
      margin: 0;
      padding: 2rem; } }
@media only screen and (max-width: 22em) {
    .account__gallery-field {
      width: 12rem;
      height: 12rem; } }
.account__settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.account__settings-email, .account__settings-password {
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.4);
            box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.4);
    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;
    width: 80%;
    max-width: 60rem;
    text-align: right; }
.account__settings-email button, .account__settings-password button {
      margin-top: 1.5rem;
      margin-right: 2rem; }
.dashboard {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  position: relative; }
.dashboard__pagination {
    width: calc(100% - 4rem); }
.dashboard__pagination-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
.dashboard__pagination-item {
      padding: 10px;
      margin-left: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: #fafafa;
      color: #000;
      font-weight: bold;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
.dashboard__pagination-item:hover, .dashboard__pagination-item:active {
      color: #ececec; }
.dashboard__pagination-active {
      color: #ececec; }
.dashboard__active {
    color: blue; }
.dashboard__deactive {
    color: red; }
.dashboard__nav {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30% 1;
    max-width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 3rem;
    height: calc(100vh - 64px - 24px - 40px);
    background-color: #ececec; }
.dashboard__nav-items {
    list-style: none; }
.dashboard__nav-item {
    text-transform: uppercase;
    position: relative;
    padding: 1rem 2rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.dashboard__nav-item:hover::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: #111; }
.dashboard__nav-item:first-of-type img {
      width: 35px; }
.dashboard__nav-icon {
    width: 20px; }
.dashboard__nav-item:hover, .dashboard__nav-item:active {
    background-color: #fff;
    font-weight: 500; }
.dashboard__main {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70% 1; }
.dashboard__main, .dashboard__slides, .dashboard__utili, .dashboard__profil {
    margin-top: 5.5rem;
    width: 100%; }
.dashboard__username {
    position: absolute;
    right: 4rem;
    top: 1rem;
    text-transform: uppercase; }
.dashboard__models {
    width: calc(100% - 4rem); }
.dashboard__table-head {
    background-color: #ececec;
    margin-bottom: 1rem; }
.dashboard__table-user-link {
    text-decoration: none;
    color: #111; }
.dashboard__table-user-link:hover {
    text-decoration: underline; }
.dashboard__th {
    text-align: left;
    padding: 1rem 0;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem; }
.dashboard__th:first-of-type {
      padding-left: 2rem; }
.dashboard__tr-spacer {
    background-color: #fff;
    background-color: #000;
    height: 0.5rem; }
.dashboard__table-row {
    background-color: #f7f7f7; }
.dashboard__table-item {
    padding: 1rem; }
.dashboard__table-item:first-of-type {
      padding: 1rem 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
.dashboard__img {
    width: 30px;
    margin-right: 1rem;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%); }
.dashboard__img-icon {
    width: 30px;
    margin-right: 1rem;
    cursor: pointer; }
.dashboard__slides {
    width: 100%;
    padding: 0 2rem; }
.dashboard__slides-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative;
    letter-spacing: 1px; }
.dashboard__slides-title::after {
      display: block;
      content: "";
      width: 4rem;
      height: 2px;
      background-color: red;
      position: absolute;
      bottom: -1rem; }
.dashboard__form {
    max-width: 100rem;
    margin: 0 auto; }
.dashboard__form-field {
    position: relative;
    min-width: calc(50% - 4rem);
    width: 30rem;
    display: inline-block;
    margin-right: 4rem;
    margin-bottom: 2rem; }
.dashboard__form-field .form-invalid {
    position: absolute; }
.dashboard__form-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
.dashboard__file-icon {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000; }
.dashboard__form-label {
    color: #85868c;
    text-transform: uppercase;
    font-weight: 600;
    display: block; }
.dashboard__form-input {
    display: inline-block;
    width: 100%;
    color: #404040;
    padding: 0.6rem;
    height: 3.5rem;
    outline: none;
    border: 2px solid rgba(143, 143, 143, 0.5);
    letter-spacing: 1.4px; }
.dashboard__form-input:hover, .dashboard__form-input:focus {
      border-color: #8f8f8f; }
.dashboard__utili-form {
    margin-top: 3rem;
    margin-right: 1rem;
    max-width: 100rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
.dashboard__utili-form div,
    .dashboard__utili-form button {
      width: 30rem; }
.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 125rem;
  margin: auto auto 2rem;
  height: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500; }
.footer__arrow {
    position: absolute;
    background-image: url(/static/icons/footer_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1180px 24px;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    height: 3rem;
    cursor: pointer; }
.footer__nav-items {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
.footer__nav-item {
    position: relative;
    font-weight: 700; }
.footer__nav-item:not(:last-of-type) {
      margin-right: 4rem; }
.footer__nav-item:not(:last-of-type)::after {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 2rem;
    background-color: grey;
    right: -2rem;
    top: 0.2rem; }
.footer__nav-link {
    text-decoration: none;
    color: #3d3d3d; }
@media only screen and (max-width: 37.5em) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 5rem; }
    .footer p {
      margin-bottom: 0.5rem; } }